
__pycache__/
.astro/
.DS_Store
.env
.env.production
.idea/
.vercel/
# build output
# dependencies
# environment variables
# generated types
# jetbrains setting folder
# logs
# macOS-specific files
# old single-file version
# submodule
# vercel build output
dist/
index.html
node_modules/
npm-debug.log*
pnpm-debug.log*
solve.py
tasty-tower/
yarn-debug.log*
yarn-error.log*
